# Análise exploratória de dados

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

## 1. Descrição dos dados

## - Reconhecendo e salvando tabela

In [3]:
df = sns.load_dataset('diamonds');
df.head()
df.to_csv('../data/raw/data.csv', index = False)

## Dicionario:

In [51]:
df_dict = pd.DataFrame([
    {
    "variavel": "carat",
    "descricao":"Peso do diamante(g) -- Quilates",
    "tipo": "quantitativo",
    "subtipo": "continua",
    },{
    "variavel": "cut",
    "descricao": "Tipo/Qualidade do corte realizado no diamante (Ordenado do pior pro melhor)",
    "tipo": "qualitativo",
    "subtipo": "ordinal",
    },{
    "variavel": "color",
    "descricao": "Cor do Diamante (Ordenado do melhor pro pior)",
    "tipo": "qualitativo",
    "subtipo": "ordinal",
    },{
    "variavel": "clarity",
    "descricao": "Pureza do diamante (Ordenado do pior para o melhor)",
    "tipo": "qualitativo",
    "subtipo": "ordinal",
    },{
    "variavel": "depth",
    "descricao": "Largura do topo do diamante em relação ao ponto mais largo",
    "tipo": "quantitativo",
    "subtipo": "continua",
    },{
    "variavel": "table",
    "descricao": "Percentual de profundidade do diamante",
    "tipo": "quantitativo",
    "subtipo": "qualitativo",
    },{
    "variavel": "price",
    "descricao": "Preço do diamante em Dolar ($)",
    "tipo": "quantitativo",
    "subtipo": "discreta",
    },{
    "variavel": "x",
    "descricao": "Uma dimensão do diamante",
    "tipo": "quantitativo",
    "subtipo": "continua",
    },{
    "variavel": "y",
    "descricao": "Uma dimensão do diamante",
    "tipo": "quantitativo",
    "subtipo": "continua",
    },{
    "variavel": "z",
    "descricao": "Uma dimensão do diamante",
    "tipo": "quantitativo",
    "subtipo": "continua",
    }
])

In [52]:
df_dict.to_csv('../data/external/dicionario.csv')

In [53]:
quantitativo = df_dict[df_dict['tipo'] == 'quantitativo'].variavel.tolist()
print(quantitativo)

['carat', 'depth', 'table', 'price', 'x', 'y', 'z']

## Analise de dados iniciais:

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [16]:
df.describe(include = "all")

,carat,cut,color,clarity,depth,table,price,x,y,z
count,53940.000000,53940,53940,53940,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
unique,NaN,5,7,8,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Ideal,G,SI1,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,21551,11292,13065,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.797940,NaN,NaN,NaN,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,NaN,NaN,NaN,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,NaN,NaN,NaN,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,NaN,NaN,NaN,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,NaN,NaN,NaN,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,NaN,NaN,NaN,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,NaN,NaN,NaN,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [32]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [45]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

## 4. Perguntas de partida e hipóteses

    Aqui podemos ter uma base do que teremos como objetivo no projeto, como em qualquer mercado queremos maximizar o preço de nosso produto, então as perguntas serão focadas na relação com a coluna preço e também faremos uma análise do quanto o peso do diamante importa, já que o diamante com maior quilate possui pessimas qualidades, vamos analisar outros diamantes com peso próximo. Perguntas:
    1. De que maneira caracteristicas como corte, cor e briho influenciam no preço do diamante, qual é a mais influente para o aumento?
    2. Um diamante mais pesado tem qualidades menores?
    3. Qual a imprtância da table?
    4. Depth and Cut conection
    5. Foco em corte, pois é  uma váriavel humana

## 3. Insights

In [63]:
Preco_max = df['price'].max();
Prec_mean = df['price'].mean();
print(f"Na nossa tabela de dados temos como preço médio:{Prec_mean:.2f} Chegando ao valor maximo de:  {Preco_max:.2f}")

Na nossa tabela de dados temos como preço médio:3932.80 Chegando ao valor maximo de:  18823.00